<a href="https://colab.research.google.com/github/AftabUdaipurwala/PythonBasics/blob/main/Pandas_Time_Series_Analysis_3_Holidays.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## LIBRARY AND DATA SECTION

In [1]:
import pandas as pd
import numpy as np
# Suppress warnings in python
import warnings
warnings.filterwarnings("ignore")
# Mounting the drive for loading the data
from google.colab import drive
drive.mount('/content/drive')
#List all the files in the drive
!ls '/content/drive/MyDrive/py-master/pandas/16_ts_holidays'

Mounted at /content/drive
aapl.csv  aapl_no_dates.csv  pandas_ts_holidays_custombusinessday.ipynb

In [2]:
df = pd.read_csv('/content/drive/MyDrive/py-master/pandas/16_ts_holidays/aapl_no_dates.csv')
df.head()

     Open    High     Low   Close    Volume
0  144.88  145.30  143.10  143.50  14277848
1  143.69  144.79  142.72  144.09  21569557
2  143.02  143.50  142.41  142.73  24128782
3  142.90  144.75  142.90  144.18  19201712
4  144.11  145.95  143.37  145.06  21090636

## DATE RANGE

In [3]:
# Create a date range for business working days for a given start and end date to be used as index in the dataframe
rng = pd.date_range(start = '7/1/2017', end='7/21/2017', freq='B') # here b doesnt take care of holidays eg in country like us
rng

DatetimeIndex(['2017-07-03', '2017-07-04', '2017-07-05', '2017-07-06',
               '2017-07-07', '2017-07-10', '2017-07-11', '2017-07-12',
               '2017-07-13', '2017-07-14', '2017-07-17', '2017-07-18',
               '2017-07-19', '2017-07-20', '2017-07-21'],
              dtype='datetime64[ns]', freq='B')

# CUSTOM BUSINESS DAY Function

In [7]:
# Create custom Date range using CUSTOM BUSINESS DAY Function in python

from pandas.tseries.holiday import USFederalHolidayCalendar
from pandas.tseries.offsets import CustomBusinessDay
# custom business day including holidays calendar
c_usb = CustomBusinessDay(calendar=USFederalHolidayCalendar())

In [8]:
# Custom range using the custom business day function including holiday calendar
rng = pd.date_range(start = '7/1/2017', end='7/21/2017', freq=c_usb) # here b doesnt take care of holidays eg in country like us
rng

DatetimeIndex(['2017-07-03', '2017-07-05', '2017-07-06', '2017-07-07',
               '2017-07-10', '2017-07-11', '2017-07-12', '2017-07-13',
               '2017-07-14', '2017-07-17', '2017-07-18', '2017-07-19',
               '2017-07-20', '2017-07-21'],
              dtype='datetime64[ns]', freq='C')

In [10]:
# Set the date as index in the datframe
df.set_index(rng, inplace=True)
df

              Open    High     Low   Close    Volume
2017-07-03  144.88  145.30  143.10  143.50  14277848
2017-07-05  143.69  144.79  142.72  144.09  21569557
2017-07-06  143.02  143.50  142.41  142.73  24128782
2017-07-07  142.90  144.75  142.90  144.18  19201712
2017-07-10  144.11  145.95  143.37  145.06  21090636
2017-07-11  144.73  145.85  144.38  145.53  19781836
2017-07-12  145.87  146.18  144.82  145.74  24884478
2017-07-13  145.50  148.49  145.44  147.77  25199373
2017-07-14  147.97  149.33  147.33  149.04  20132061
2017-07-17  148.82  150.90  148.57  149.56  23793456
2017-07-18  149.20  150.13  148.67  150.08  17868792
2017-07-19  150.48  151.42  149.95  151.02  20922969
2017-07-20  151.50  151.74  150.19  150.34  17243748
2017-07-21  149.99  150.44  148.88  150.27  26252630

## CUSTOM BUSINESS CALENDAR

In [22]:
# make your own custom calendar
from pandas.tseries.holiday import Holiday, AbstractHolidayCalendar, nearest_workday
class CustomCalendar(AbstractHolidayCalendar):
  rules = [
           Holiday('Custom Holiday ', month = 7, day=17, observance = nearest_workday), # nearest work day works when the holiday comes on a saturday/sunday/holiday 
                                                                                        #then holiday will be observed on a workday
           ]

# Custom calendar
ccal = CustomBusinessDay(calendar = CustomCalendar())

In [23]:
rng = pd.date_range(start = '7/1/2017', end='7/21/2017', freq=ccal) # here custom calendar excluded 17th july from the dataset
rng

DatetimeIndex(['2017-07-03', '2017-07-04', '2017-07-05', '2017-07-06',
               '2017-07-07', '2017-07-10', '2017-07-11', '2017-07-12',
               '2017-07-13', '2017-07-14', '2017-07-18', '2017-07-19',
               '2017-07-20', '2017-07-21'],
              dtype='datetime64[ns]', freq='C')

## WEEK MASK

In [26]:
ccal = CustomBusinessDay(calendar = CustomCalendar(),  weekmask ='Sun Mon Tue Wed Thu', holidays =['2017-07-04']) # when u make it that friday and saturday is a weekend
rng = pd.date_range(start = '7/1/2017', end='7/21/2017', freq=ccal) # here custom calendar excluded 17th july, 4th july and friday and saturday is a weekend and sunday is workday
rng

DatetimeIndex(['2017-07-02', '2017-07-03', '2017-07-05', '2017-07-06',
               '2017-07-09', '2017-07-10', '2017-07-11', '2017-07-12',
               '2017-07-13', '2017-07-16', '2017-07-18', '2017-07-19',
               '2017-07-20'],
              dtype='datetime64[ns]', freq='C')