<a href="https://colab.research.google.com/github/AftabUdaipurwala/PythonBasics/blob/main/Python_Pandas_Tutorial_6_Handle_Missing_Data_replace_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")
from google.colab import drive
# Mounting the drive for loading the data
drive.mount('/content/drive')
!ls '/content/drive/MyDrive/py-master/pandas/6_handling_missing_data_replace'

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
handling_missing_data_replace.ipynb  weather_data.csv

In [5]:
# Read data from a Csv file format
df = pd.read_csv('/content/drive/MyDrive/py-master/pandas/6_handling_missing_data_replace/weather_data.csv', parse_dates=['day']) # parse dates as date while reading the file
df

         day  temperature  windspeed  event
0 2017-01-01           32          6   Rain
1 2017-01-02       -99999          7  Sunny
2 2017-01-03           28     -99999   Snow
3 2017-01-04       -99999          7      0
4 2017-01-05           32     -99999   Rain
5 2017-01-06           31          2  Sunny
6 2017-01-06           34          5      0

In [9]:
# replace function to replace certain values
new_df = df.replace([-88888,-99999],np.NaN) # we can supply list of values
new_df

         day  temperature  windspeed  event
0 2017-01-01         32.0        6.0   Rain
1 2017-01-02          NaN        7.0  Sunny
2 2017-01-03         28.0        NaN   Snow
3 2017-01-04          NaN        7.0      0
4 2017-01-05         32.0        NaN   Rain
5 2017-01-06         31.0        2.0  Sunny
6 2017-01-06         34.0        5.0      0

In [12]:
# replace based on specific column
new_df = df.replace({'temperature':-99999,'windspeed':-99999,'event':'0'},np.NaN)
new_df

         day  temperature  windspeed  event
0 2017-01-01         32.0        6.0   Rain
1 2017-01-02          NaN        7.0  Sunny
2 2017-01-03         28.0        NaN   Snow
3 2017-01-04          NaN        7.0    NaN
4 2017-01-05         32.0        NaN   Rain
5 2017-01-06         31.0        2.0  Sunny
6 2017-01-06         34.0        5.0    NaN

In [16]:
# mapping based replacement by creating dictionary
# replace based on specific column and specific values
new_df = df.replace({'temperature':-99999,'windspeed':-99999,'event':'0'},{'temperature':df.temperature.median(),'windspeed':df.windspeed.median(),'event':np.NaN})
new_df

         day  temperature  windspeed  event
0 2017-01-01           32          6   Rain
1 2017-01-02           31          7  Sunny
2 2017-01-03           28          5   Snow
3 2017-01-04           31          7    NaN
4 2017-01-05           32          5   Rain
5 2017-01-06           31          2  Sunny
6 2017-01-06           34          5    NaN

In [17]:
# replacement using regex

new_df = df.replace({'temperature':['A-Za-z'],'widnspeed':['A-Za-z']},regex=True)
new_df

         day  temperature  windspeed  event
0 2017-01-01           32          6   Rain
1 2017-01-02       -99999          7  Sunny
2 2017-01-03           28     -99999   Snow
3 2017-01-04       -99999          7      0
4 2017-01-05           32     -99999   Rain
5 2017-01-06           31          2  Sunny
6 2017-01-06           34          5      0

In [18]:
# replace 1 list by another list with dictionary mapping
new_df = df.replace({'event':['Rain','Snow','Sunny',0]},{'event':[1,2,3,0]})
new_df

         day  temperature  windspeed event
0 2017-01-01           32          6     1
1 2017-01-02       -99999          7     3
2 2017-01-03           28     -99999     2
3 2017-01-04       -99999          7     0
4 2017-01-05           32     -99999     1
5 2017-01-06           31          2     3
6 2017-01-06           34          5     0