<a href="https://colab.research.google.com/github/AftabUdaipurwala/PythonBasics/blob/main/Python_Pandas_Tutorial_15_Handle_Large_Datasets_In_Pandas_%7C_Memory_Optimization_Tips_For_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")
from google.colab import drive
# Mounting the drive for loading the data
drive.mount('/content/drive')
!ls '/content/drive/MyDrive/py-master/pandas/21_sql'

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
conn_string_format.JPG	customers.csv  db_tables.jpg  pandas_sql.ipynb

In [8]:
df = pd.read_csv('/content/drive/MyDrive/py-master/pandas/21_sql/adult_data.csv')
df.head(3)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,Income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K

In [9]:
# See current memory utilization
df.info(verbose=False, memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Columns: 15 entries, age to Income
dtypes: int64(6), object(9)
memory usage: 20.2 MB

#Technique 1: Don’t load all the columns

In [10]:
# after using only selective columns
df = df[["age", "workclass"]]
df.info(verbose=False, memory_usage="deep") # see the data is directly reduced by 90%

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Columns: 2 entries, age to workclass
dtypes: int64(1), object(1)
memory usage: 2.3 MB

In [12]:
# Similar reduction but while reading the data itself
df = pd.read_csv( '/content/drive/MyDrive/py-master/pandas/21_sql/adult_data.csv', usecols=["age", "workclass"])
df.info(verbose=False, memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Columns: 2 entries, age to workclass
dtypes: int64(1), object(1)
memory usage: 2.3 MB

# Technique 2: Shrink numerical columns with smaller dtypes

In [13]:
df = pd.read_csv("/content/drive/MyDrive/py-master/pandas/21_sql/adult_data.csv", dtype={"age ": "int8",
                                                                                         "fnlwgt ": "int16",
                                                                                         "education-num ": "int8",
                                                                                         "capital-gain ": "int16",
                                                                                         "capital-loss ": "int16",
                                                                                         'hours-per-week':'int8'})
df.info(verbose=False, memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Columns: 15 entries, age to Income
dtypes: int64(5), int8(1), object(9)
memory usage: 19.9 MB

#Technique 3: Shrink categorical data using Categorical dtypes

In [15]:
df = pd.read_csv("/content/drive/MyDrive/py-master/pandas/21_sql/adult_data.csv", dtype={"age ": "int8",
                                                                                         "fnlwgt ": "int16",
                                                                                         "education-num ": "int8",
                                                                                         "capital-gain ": "int16",
                                                                                         "capital-loss ": "int16",
                                                                                         'hours-per-week':'int8',
                                                                                         'workclass':'category',
                                                                                         'education':'category',
                                                                                         'marital-status':'category',
                                                                                         'occupation':'category',
                                                                                         'relationship':'category',
                                                                                         'race':'category',
                                                                                         'sex':'category',
                                                                                         'native-country':'category',})
df.info(verbose=False, memory_usage="deep")

# just check the huge reduction in datatypes

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Columns: 15 entries, age to Income
dtypes: category(8), int64(5), int8(1), object(1)
memory usage: 3.5 MB