<a href="https://colab.research.google.com/github/AftabUdaipurwala/PythonBasics/blob/main/Python_Pandas_Tutorial_2_Dataframe_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
from google.colab import drive
# Mounting the drive for loading the data
drive.mount('/content/drive')
!ls '/content/drive/MyDrive/py-master/pandas/2_dataframe_basics'

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
dataframe_basics.ipynb	weather_data.csv

In [5]:
data = pd.read_csv('/content/drive/MyDrive/py-master/pandas/2_dataframe_basics/weather_data.csv')
data.head(2)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny

In [7]:
rows, columns = data.shape # to get rows and columns in the data frame
print(rows, columns)

6 4

In [8]:
# to get the type of the columns in pd dataframe
type(data['day'])

pandas.core.series.Series

In [10]:
# to get only  a few columns
data[['day','event']]

        day  event
0  1/1/2017   Rain
1  1/2/2017  Sunny
2  1/3/2017   Snow
3  1/4/2017   Snow
4  1/5/2017   Rain
5  1/6/2017  Sunny

In [13]:
# to get maximum temperature of the data 
print(data['temperature'].max())
print(data['temperature'].mean())
print(data['temperature'].describe())

35
30.333333333333332
count     6.000000
mean     30.333333
std       3.829708
min      24.000000
25%      28.750000
50%      31.500000
75%      32.000000
max      35.000000
Name: temperature, dtype: float64

In [14]:
# to conditionally select the dataframe
data['temperature'][data['event']=='Rain']

0    32
4    32
Name: temperature, dtype: int64

In [16]:
# to conditionally select the dataframe
data[data['temperature']>=32]

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
4  1/5/2017           32          4   Rain

In [17]:
# get only a few columns
data[['event','day']][data['temperature']>=32]

   event       day
0   Rain  1/1/2017
1  Sunny  1/2/2017
4   Rain  1/5/2017

In [19]:
data.index

RangeIndex(start=0, stop=6, step=1)

In [21]:
# to change the index from default to your one of the column is 
data.set_index('day', inplace=True) # now original dataframe is modified

In [22]:
# we can use the 
data

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           31          2  Sunny

In [24]:
# to acess by location
data.loc['1/1/2017'] # remember index has to be ideally unique value

temperature      32
windspeed         6
event          Rain
Name: 1/1/2017, dtype: object

In [ ]:
# to reset index
data.reset_index(inplace=True)